## Task 4.8


####  This script contains the following direction
#### 1. Creating loyalty flag
#### 2. Creating spenders type
#### 3. Creating order frequency flag

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path=r"C:\Users\acisk\Dropbox\My PC (DESKTOP-SO8P63N)\Desktop\Data Analytics\Achievement 4- Python Fundamentals for Data Analysts\Instacart Basket Analysis 14-08-2021"

In [3]:
# Importing ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [4]:
#Grouping and aggrate of entire dataframe
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

#### There are more aggregate results for the entire dataframe compared to that of subset

#### 1. Creating loyalty flag

In [5]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,Average orders,11.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Average orders,10
1,2398795,1,2,3,Fewest orders,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,10
2,473747,1,3,3,Most orders,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,Fewest orders,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Fewest orders,10
4,431534,1,5,4,Most orders,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,Most orders,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range product,Regularly busy,Regular days,Most orders,31
32404855,31526,202557,18,5,Most orders,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range product,Regularly busy,Regular days,Most orders,31
32404856,758936,203436,1,2,Fewest orders,11.0,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product,Regularly busy,Regular days,Fewest orders,3
32404857,2745165,203436,2,3,Fewest orders,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product,Regularly busy,Slowest days,Fewest orders,3
32404858,3093936,205420,1,4,Most orders,11.0,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range product,Least busy,Slowest days,Most orders,16

In [7]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
ords_prods_merge['loyalty_flag'].value_counts()

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [11]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,Average orders,11.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer
1,2398795,1,2,3,Fewest orders,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer
2,473747,1,3,3,Most orders,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,Fewest orders,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer
4,431534,1,5,4,Most orders,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer

In [12]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [13]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,Average orders,11.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer
1,2398795,1,2,3,Fewest orders,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer
2,473747,1,3,3,Most orders,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,Fewest orders,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer
4,431534,1,5,4,Most orders,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer

In [14]:
ords_prods_merge.groupby('user_id')['prices'].mean()

user_id
1         6.367797
2         7.515897
3         8.197727
4         8.205556
5         9.189189
            ...
206205    8.909375
206206    7.646667
206207    7.313453
206208    8.366617
206209    7.058915
Name: prices, Length: 206209, dtype: float64

#### 2. Creating spenders type

In [15]:
ords_prods_merge['Average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Average_price
0,2539329,1,1,2,Average orders,11.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797
1,2398795,1,2,3,Fewest orders,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer,6.367797
2,473747,1,3,3,Most orders,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,Fewest orders,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer,6.367797
4,431534,1,5,4,Most orders,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,Most orders,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range product,Regularly busy,Regular days,Most orders,31,Regular customer,6.905655
32404855,31526,202557,18,5,Most orders,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,Low-range product,Regularly busy,Regular days,Most orders,31,Regular customer,6.905655
32404856,758936,203436,1,2,Fewest orders,11.0,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product,Regularly busy,Regular days,Fewest orders,3,New customer,7.631579
32404857,2745165,203436,2,3,Fewest orders,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,Mid-range product,Regularly busy,Slowest days,Fewest orders,3,New customer,7.631579
32404858,3093936,205420,1,4,Most orders,11.0,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,Mid-range product,Least busy,Slowest days,Most orders,16,Regular customer,7.684746

In [17]:
ords_prods_merge.loc[ords_prods_merge['Average_price'] < 10, 'spenders_type'] = 'Low spender'

In [18]:
ords_prods_merge.loc[ords_prods_merge['Average_price'] >= 10, 'spenders_type'] = 'High spender'

In [19]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Average_price,spenders_type
0,2539329,1,1,2,Average orders,11.0,196,1,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,Fewest orders,15.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,Most orders,21.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,Fewest orders,29.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,Most orders,28.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender

#### 3. Creating order frequency flag

In [20]:
ords_prods_merge['order_frequency_flag'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Average_price,spenders_type,order_frequency_flag
0,2539329,1,1,2,Average orders,11.0,196,1,0,Soda,...,9.0,Mid-range product,Regularly busy,Regular days,Average orders,10,New customer,6.367797,Low spender,20.0
1,2398795,1,2,3,Fewest orders,15.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.0
2,473747,1,3,3,Most orders,21.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0
3,2254736,1,4,4,Fewest orders,29.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Slowest days,Fewest orders,10,New customer,6.367797,Low spender,20.0
4,431534,1,5,4,Most orders,28.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0

In [32]:
ords_prods_merge.loc[ords_prods_merge['order_frequency_flag'] > 20, 'customers_frequecy'] = 'Non-frequent customer'

In [33]:
ords_prods_merge.loc[(ords_prods_merge['order_frequency_flag'] > 10) & (ords_prods_merge['order_frequency_flag'] <= 20), 'customers_frequecy'] = 'Regular customer'

In [34]:
ords_prods_merge.loc[ords_prods_merge['order_frequency_flag'] <= 10, 'customers_frequecy'] = 'Frequent customer'

In [35]:
ords_prods_merge['customers_frequecy'].value_counts()

Frequent customer        20550144
Regular customer          9154455
Non-frequent customer     2700260
Name: customers_frequecy, dtype: int64

In [ ]:
# Exporting the merged data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_gruouped.pkl'))